.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 4rem 3rem;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* background-color: lightgray; */
}

.about .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 2rem 2rem;
}

.about .left p {
  margin: 1.2rem 0;
}

.left .skills {
  margin: 2rem 0;
}

.left .skills .skills_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 20px;
}

.left .skills .skills_list li {
  padding: 0 0.8rem;
}

.about .right {
  align-items: center;
  text-align: center;
  justify-content: center;
}

.right .img {
  max-width: 90%;
}

@media screen and (max-width: 640px) {
  .about {
    grid-template-columns: 1fr;
    margin: 3rem 2rem;
  }
}

.skills-container {
  color: #ffffff;
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  /* background: #333; */
}

.skills-category {
  margin-bottom: 2rem;
}

.skills-container h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.skills-container h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.skills-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.database-icon {
  width: 80px; /* or any other size that makes the icons look uniform */
  height: auto;
  margin-bottom: 8px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  padding: 15px;
}

.skill-item span {
  font-size: 1rem;
  text-align: center;
}

.skill-item i {
  font-size: 3rem;
  margin-bottom: 8px;
  transition: color 0.3s ease;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  padding: 15px;
}

.skill-item span {
  font-size: 1rem;
}

.skill-item:hover {
  transform: translateY(-5px);
}

.skill-item:hover i {
  color: skyblue; /* Replace with your color of choice */
}

/* Add media queries for responsiveness if needed */

li {
  margin-bottom: 1rem;
}
