.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 3rem 3rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.about .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 2rem 2rem;
}

.about .left p {
    margin: 1.2rem 0;
}

.left .skills {
    margin: 2rem 0;
}

.left .skills .skills_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 20px;
}

.left .skills .skills_list li {
    padding: 0 0.8rem;
}

.about .right {
    align-items: center;
    text-align: center;
    justify-content: center;
}

.right .img {
    max-width: 90%;
}

@media screen and (max-width: 640px) {
    .about {
        grid-template-columns: 1fr;
        margin: 3rem 2rem;
    }

}