.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 3rem 3rem;
    align-items: center;
    justify-content: center;
}

.about .left {
    justify-content: center;
    text-align: center;
    padding: 1rem;
}

.about .left p {
    margin: 1.2rem 0;
}

.about .right {
    align-items: center;
    text-align: center;
}

.right .img {
    max-width: 90%;
}

@media screen and (max-width: 640px) {
    .about {
        grid-template-columns: 1fr;
    }
}